img{
    
    border-radius: 50%;
}

#about{
    background-color: rgba(0, 0, 0, 0.619);
}
#hob{
    background-color: rgba(0, 0, 0, 0.619);
}
#ed{
    background-color: rgba(0, 0, 0, 0.619);
}
#cm{
    background-color: rgba(0, 0, 0, 0.619);
}
#txt{
    
    background-color: rgba(0, 0, 0, 0.619);
}
